<p>
    <button (click)="showOverview()">Overview</button>
    <button (click)="showRating()">Rating</button>
</p>

<div class="row top-buffer">
    <div class="col-xs-4">
        <h2>{{user.name | uppercase }}</h2>
        <input
            type="button"
            [value]="editButtonTitle"
            (click)=editName(user.name)
        >
        &nbsp;
        <input
            type="text"
            [(ngModel)]="user.name"
            [hidden]='isEditNameInputVisible()'
        >
    </div>

</div>

<router-outlet></router-outlet>

<div class="row top-buffer">
    <div class="col-xs-2">
        <input
            type="button"
            id='update'
            value="Update"
            (click)=this.updateUser(user)
        >
    </div>
</div>

<hr>

<div class="row top-buffer">
    <div class="col-xs-2">
        <a (click)="goPrev()">< Prev</a>
        &nbsp;
        <a (click)="goNext()">Next ></a>
    </div>
</div>

<div class="alert alert-danger" [hidden]="hideErrorDiv()">{{errorMsg}}</div>

<div class="top-buffer">
    <button (click)="gotoUsers()">Back</button>
</div>
